<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse mt-3">
  <div class="position-sticky pt-3 ps-4">
    <ul class="nav flex-column">
      <li class="nav-item personal-size">
        <a class="nav-link" aria-current="page" routerLink="home" routerLinkActive="active">
          <i class="bi bi-house-door"></i>
          Home
        </a>
      </li>
      <li class="nav-item mt-1 personal-size">
        <a class="nav-link" routerLink="employees" routerLinkActive="active">
          <i class="bi bi-person-badge"></i>
          Employees
        </a>
      </li>
      <li class="nav-item mt-1 personal-size">
        <a class="nav-link" routerLink="transport_info" routerLinkActive="active">
          <i class="bi bi-info-circle"></i>
          Transport Info
        </a>
      </li>
      <li class="nav-item mt-1 personal-size">
        <a class="nav-link" routerLink="vehicles" routerLinkActive="active">
          <i class="bi bi-truck"></i>
          Vehicles
        </a>
      </li>
      <li class="nav-item mt-1 personal-size">
        <a class="nav-link" routerLink="clients" routerLinkActive="active">
          <i class="bi bi-person-fill-exclamation"></i>
          Clients
        </a>
      </li>
      <li class="nav-item mt-1 personal-size">
        <a class="nav-link" routerLink="transactions" routerLinkActive="active">
          <i class="bi bi-wallet2"></i>
          Transactions
        </a>
      </li>
    </ul>
  </div>
</nav>
